{% extends 'app/base.html' %}
{% load static %}

{% block titul %}formulario ficha{% endblock %}


{% block container %}


<div class="d-flex justify-content-center align-items-center mt-2">
    <div class="border p-4 rounded w-75">
        <h1>formulario f tecnica</h1>
        <form action="">
            {% csrf_token %}
            <label for="" class="form-label">Usuario</label><br>
            <select name="" id="" class="form-control">
                <option value="">Seleccione un Usuario</option>
                {% for usuario in usuarios %}
                    <option value="{{usuario.idUsuario}}">{{usuario.nombre}}</option>
                {% endfor %}
            </select>
            <label for="" class="form-label">fecha</label>
            <input type="date" class="form-control">
            <label for="" class="form-label">operacion</label>
            <select name="" id="" class="form-control">
                {% for operacion in operaciones %}
                <option value="">Seleccione una operacion</option>
                    <option value="operacion.codigo">{{operacion.nombre}}</option>
                {% endfor %}     
            </select>
            <label for="">Codigo de operacion</label>
            <input type="text" class="form-control">
            <label for="">Tipo de Maquina</label>
            <select name="" class="form-control" id="tipo_maquina" onchange="actRPM()">
                <option value="">Seleccione una máquina</option>
                {% for maquina in maquinas %}
                    <option value="{{maquina.id}}" data-rpm="{{maquina.rpm}}">{{maquina.nombre}}</option>
                {% endfor %}
            </select>
            <label for="rpm" class="form-label" >rpm</label>
            
            <input type="text" class="form-control" id="rpm" readonly>
            <label for="" class="form-label">ppp</label>
            <input type="text" class="form-control">
            <label for="" class="form-label">referencia</label>
            <input type="text" class="form-control">
            <label for="" class="form-label">modulo</label>
            <input type="text" class="form-control">
            <label for="" class="form-label">Minutos por turno</label>
            <select name="" id="" class="form-control">
                <option value="">Seleccione Turno</option>
                {% for turno in turnos %}
                    <option value="{{turno.id}}">{{turno.turno}}</option>
                {% endfor %}
            </select>
            <label for="" class="form-label">suplementos</label>
            <select name="" id="" class="form-control">
                <option value="">Seleccione porcentaje</option>
                {% for suplemento in suplementos %}
                    <option value="{{suplemento.id}}">{{suplemento.porcentaje}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">Crear</button>


        </form>
        <script src="{% static 'app/js/funciones.js' %}"></script>
    </div>
</div>

{% endblock %}