<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table{
            border: 1px solid black;
        }
        th{
            border: 1px solid black;
        }
        tr{
            border: 1px solid black;
        }
        td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>listar ficha tecnica</h1>
<button><a href="{% url 'form_fichat' %}">Crear</a></button>
<table>
    <tr>
        <th>usuario</th>
        <th>fecha</th>
        <th>operacion</th>
        <th>codigo de operacion</th>
        <th>tipo de maquina</th>
        <th>referencia</th>
        <th>rpm</th>
        <th>modulo</th>
        <th>ppp</th>
        <th>min turno</th>
        <th>suplemento</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{i.idUsuario}}</td>
        <td>{{i.fecha}}</td>
        <td>{{i.operacion}}</td>
        <td>{{i.codigo_Operacion}}</td>
        <td>{{i.tipoMaquina}}</td>
        <td>{{i.ref}}</td>
        <td>{{i.rpm}}</td>
        <td>{{i.modulo}}</td>
        <td>{{i.ppp}}</td>
        <td>{{i.minTurno}}</td>
        <td>{{i.suplementos}}</td>

    </tr>
    {% endfor %}
</table>
</body>
</html>